@import url('https://fonts.googleapis.com/css?family=Caladea:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:100,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap');

:root {
    --color-A: rgb(255, 218, 189);
    --color-B: rgb(238, 94, 104);
    --color-C: rgb(139, 41, 148);
    --pacheco-A: #567a83;
    --pacheco-B: #f7dbd5;
    --pacheco-C: #fc876b;
    --pacheco-D: #cc5364;
  }

body {
    background-color: var(--pacheco-D);
}

h1 {
    font-family: "IBM Plex Serif";
    font-size: 2rem;
    font-weight: 400;
    margin: 0px;
}

h2 {
    font-family: "IBM Plex Sans";
    font-size: 2rem;
    font-weight: 400;
    margin: 0px;
}

.container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    overflow-y: scroll;
}

.title {
    display: block;
    position: fixed;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    z-index: 1000;
}

.title img {
    width: auto;
    /* filter: drop-shadow(5px 5px 2px var(--pacheco-D)); */
}

.big-text {
    display: block;
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 20px;
    border-radius: 10px;
    color: var(--pacheco-B);
    /* background-color: var(--pacheco-D); */
    /* text-shadow: 2px 0px 1px var(--pacheco-C);  */
    /* box-shadow: 12px 12px 6px var(--pacheco-D); */
}

.vid-embed {
    display: block;
    position: relative;
    max-width: 800px;
    height: auto;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.vid-embed iframe {
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 12px 12px 6px var(--pacheco-D); */
}

.nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 40px;
}

.nav-align {
    display: block;
    position: relative;
    width: 260px;
    margin-left: auto;
    margin-right: 20px;
}

.nav-btn {
    display: inline-block;
    position: relative;
    margin: 0px 5px 0px 5px;
    background-color: var(--pacheco-A);
    text-align: center;
    /* box-shadow: 5px 5px 2px var(--pacheco-D); */
    transform: translate(0px, 0px);
    transition: transform 0.2s, box-shadow 0.2s;
}

.nav-btn:hover {
    background-color: var(--pacheco-D);
    cursor: pointer;
    transform: translate(-2px, -4px);
    /* box-shadow: 7px 9px 3px var(--pacheco-D); */
}

.nav-btn i {
    color: var(--pacheco-B);
    font-size: 52px;
    text-align: center;
    margin: 10px;
    /* text-shadow: 2px 0px 1px var(--pacheco-C); */
}

.social {
    display: block;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    z-index: 500;
    
}

.social-center {
    display: block;
    position: relative;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.social-btn {
    display: inline-block;
    position: relative;
    margin: 0px 5px 0px 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--pacheco-A);
    text-align: center;
    border-radius: 24px;
    /* box-shadow: 3px 3px 1px var(--pacheco-D); */
    transform: translate(0px, 0px);
    transition: transform 0.2s, box-shadow 0.2s;
}

.social-btn:hover {
    background-color: var(--pacheco-D);
    cursor: pointer;
    transform: translate(-2px, -4px);
    /* box-shadow: 5px 7px 2px var(--pacheco-D); */
    
}

.social-btn img {
    color: var(--pacheco-B);
    filter: invert();
    width: 24px;
    text-align: center;
    margin: 10px;
    /* text-shadow: 2px 0px 1px var(--pacheco-C); */
}

.canv {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -100;
}

.papertexture {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-image: url("../img/paperbag.jpg");
    background-size: cover;
    opacity: 0.4;
    filter: saturate(0.5);
    mix-blend-mode: overlay;
    pointer-events: none;

}

@media only screen and (max-width: 600px){

    .title img {
        width: 80px;
    }

    .big-text {
        /* padding: 0% 10% 0% 10%; */
    }

    .big-text h2 {
        font-size: 1.5rem;
    }

    .nav {
        display: block;
        position: absolute;
        width: 100%;
        height: 100px;
        top: 20px;
    }

    .nav-align {
        display: block;
        position: relative;
        width: 200px;
        margin-left: auto;
        margin-right: 20px;
    }
    .nav i {
        font-size: 32px;
    }

    .vid-embed {
        margin-top: 100px;
    }
}